@import "../../../assets/sass/variables";

.post-card {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: $gap-mobile;
  width: auto;
  padding: 12px 4px 12px 16px;
  border-radius: $border-radius-1;
  background-color: $gray-3;
  cursor: pointer;

  @media (min-width: $tablet-portrait) {
    padding: 16px 8px 16px 16px;
    width: 255px;
  }

  &--active {
    background-color: $green-light;
    animation: highlight 1.5s ease-in-out;
  }

  &--portrait {
    align-items: center;
    cursor: unset;
  }

  &__content {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    &__body {
      flex: 0 0 calc(100% - 48px);
      color: $gray-1;
      line-height: 1.5;

      &--ellipsed {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      &--portrait {
        flex: unset;
      }
    }
  }
}
